@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.handle {
  background: $color-light-bg;
  border-radius: 10px;
  color: $color-light-fg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  padding: 15px;
  cursor: pointer;
  user-select: none;
  margin-bottom: $spacing-m;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-xs;
  }

  .main {
    flex-grow: 1;

    .value {
      display: flex;
      align-items: center;

      > svg {
        margin: 0 .3em;
        color: rgba(0, 0, 0, .3);
      }
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
  }

  .hide {
    display: none;
  }
}
