@import 'styles/mixins/common';
@import 'styles/variables/spacing';

$padding: 24px;

.panel {
  background-color: rgba(255, 255, 255, .1);
}

.header {
  padding: $padding;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  
  .headerLabel {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-m;
  }

  .heading {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;

    > small {
      display: block;
      color: rgba(255, 255, 255, .6);
    }
  }

  .actions {
    .action {
      @include reset-button;
      padding: 5px;
      border-radius: 3px;
      transition: .2s background-color;
      font-size: 1.1rem;
      
      &:hover {
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }
}

.content {
  padding: $padding;
}
