@import 'styles/variables/colors';
@import 'styles/variables/common';
@import 'styles/utils';

* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  color: $color-fg;
  font-family: $base-font-family;
  font-size: 15px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
  font-weight: 600;
}

.wrapper {
  background: $color-light-bg;
  border-radius: 10px;
  color: $color-light-fg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  padding: 15px;
  cursor: pointer;
  user-select: none;
}