$color-bg: #231f20;
$color-fg: #ffffff;
$color-light-bg: rgb(240, 240, 240);
$color-light-fg: #444444;
$color-primary: rgb(31, 161, 204);
$color-danger: rgb(226, 81, 81);
$color-positive: rgb(69, 156, 58);
$color-accent: #FFC107;
$color-border: #383536;
$color-green: rgb(11, 179, 11);
$color-red: #ff0000;
